
# Created by https://www.gitignore.io/
.ipynb_checkpoints/*
.ipynb_checkpoints
*/.ipynb_checkpoints/*

data/*
output/*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### OS X ###
.DS_Store