
# Created by https://www.gitignore.io/api/ansible,visualstudiocode
data/*
output/*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### OS X ###
.DS_Store